
.idea/discord.xml
*.xml
TubesAlgeo.iml
*.class
src/matrix/test.java
Visualizations/cofactor_call_stack.png
src/matrix/test.class
*.class
*.pdf
*.class
.vscode/c_cpp_properties.json
javafx-sdk-23
controlsfx-11.2.0
.idea\Algeo01-23006.iml